@media all and (max-device-width: 700px) ,(max-width: 700px ) {
    nav {
        display: none;
    }

}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

footer {
    background-color: #1e2024;
}

nav a {
    color: #3d3d3d;
    outline: 0;
}

nav > ul > li > a:hover, nav > ul > li > a:focus {
    color: #f14848;
}

nav ul ul a:hover, nav ul ul a:focus {
    color: white;
    background-color: #f14848;
}

.sub-footer {
    background-color: #151515;
}

ul{
    list-style-type:none;
}
footer a {
    color: white;
}

footer ul ul a {
    color: #7a7a7a;
    outline: 0;
}

footer ul ul a:hover, footer ul ul a:focus {
    color: #f14848;
}

.sub-footer a {
    outline: 0;
    color: #636363;
}

.sub-footer a:hover, .sub-footer a:focus {
    color: white;
}

.red_button {
    background-color: #f14848;
    color: white;
}

.white_button {
    background-color: white;
    color: #f14848;;
}


